body { 
    margin: 0; 
    background-color: black;
}
/*canvas { width: 100%; height: 100% }*/

#pais{
    position: absolute;
    color: white;
    left: 750px;
    
}

#pais_nome{
    color: white;
    font-size: 35px;
}

#coordenadas{
    position: absolute;
    left: 750px;
    top: 45px;
}

#coordenadas_latlog{
    color:white;
}

#canvas{
    width: 300px;
    position: static;
}

.dropdown{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#demografia{
    position: absolute;
    left: 750px;
    top: 120px;
    font-size: 35px;
    color: white;
}