body { margin: 0; }
/*canvas { width: 100%; height: 100% }*/

#teste{
  
}

#nome_pais{
  position: absolute;
  z-index: 5px;
  color: gray;
  margin-left: 40px;
  margin-top: 25px;
}

#capital{
  position: absolute;
  z-index: 5px;
  color: gray;
  margin-left: 40px;
  margin-top: 60px;
}
#latitude{
  position: absolute;
  z-index: 5px;
  color: gray;
  margin-left: 40px;
  margin-top: 85px;
}
#longitude{
  position: absolute;
  z-index: 5px;
  color: gray;
  margin-left: 40px;
  margin-top: 115px;
}

#canvas{
    width: 300px;
    position: static;
}